{% extends 'main/navbar_footer.html' %} {% block title %}Delete User{% endblock %}
{% block content %}
{% load widget_tweaks %}
{% load compress %}
{% load static %}
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
<script src="http://cdn.tailwindcss.com"></script>
<body class="min-h-screen bg-neutral-100" style="min-height: 400px; margin-bottom: 5px; clear: both; text-align: center">
   <form method="POST" class="bg-white p-6 drop-shadow-lg rounded-[18px] ml-[635px] mr-[400px] mt-[200px] font-[Poppins] w-[24rem] overflow-hidden m-10">
    {% csrf_token %}

    <label class="block mb-2 text-sm font-bold text-gray-600">Are you sure you want to delete</label>
    <p class="px-4 py-4 text-3xl block text-center bg-clip-text text-transparent bg-gradient-to-b from-sky-700 to-sky-900 font-black">{{ userData.first_name }} {{ userData.last_name }} ?</p>
    <p class="block mb text-lg font-bold text-gray-600">USER ID 0{{ userData.id }}</p><br>
    <button type="submit" class="bg-orange-500 text-white py-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Confirm</button>
    <br><br>
    <p class="block mb-2 text-sm font-bold text-gray-600">CANCEL <a href="{% url 'read' %}" class="m-1 bg-orange-500 text-white p-2 w-full rounded-[300px] drop-shadow-md transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white"><i class="fa-solid fa-xmark"></i></a></p>
</form>
</body>
{% endblock %}
