{% extends 'main/navbar_footer.html' %} {% block title %}Number of Permanent Worker(s) Input{% endblock %}
{% block content %}
{% load widget_tweaks %}
{% load compress %}
{% load static %}
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
<script src="http://cdn.tailwindcss.com"></script>
<body class="min-h-screen bg-neutral-100" style="min-height: 400px; margin-bottom: 5px; clear: both; text-align: center">
   <form method="POST" class="bg-white p-6 drop-shadow-lg rounded-[18px] ml-[635px] mr-[400px] mt-[15px] font-[Poppins] w-[24rem] overflow-hidden m-10">
      <h1 class="px-4 py-4 text-3xl block text-center bg-clip-text text-transparent bg-gradient-to-b from-sky-700 to-sky-900 font-black">Please Insert Needed Input</h1>
      {% csrf_token %}
      <div class="p-6">
         {% for x in detail %}
         <label for="numPermanent1" class="block mb-2 text-sm font-bold text-gray-600">Number of Permanent Worker(s) for Month 1:</label>
         <input required min="0" type="number" step="1" value={{x.numPermanent1}} name="numPermanent1" id="numPermanent1" placeholder="Number of Permanent Worker(s) for Month 1" class="mt-1 px-3 py-2 mb-6 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 text-center">
         <label for="numPermanent2" class="block mb-2 text-sm font-bold text-gray-600">Number of Permanent Worker(s) for Month 2:</label>
         <input required min="0" type="number" step="1" value={{x.numPermanent2}} name="numPermanent2" id="numPermanent2" placeholder="Number of Permanent Worker(s) for Month 2" class="mt-1 px-3 py-2 mb-6 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 text-center">
         <label for="numPermanent3" class="block mb-2 text-sm font-bold text-gray-600">Number of Permanent Worker(s) for Month 3:</label>
         <input required min="0" type="number" step="1" value={{x.numPermanent3}} name="numPermanent3" id="numPermanent3" placeholder="Number of Permanent Worker(s) for Month 3" class="mt-1 px-3 py-2 mb-6 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 text-center">
         <label for="numPermanent4" class="block mb-2 text-sm font-bold text-gray-600">Number of Permanent Worker(s) for Month 4:</label>
         <input required min="0" type="number" step="1" value={{x.numPermanent4}} name="numPermanent4" id="numPermanent4" placeholder="Number of Permanent Worker(s) for Month 4" class="mt-1 px-3 py-2 mb-6 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 text-center">
         <label for="numPermanent5" class="block mb-2 text-sm font-bold text-gray-600">Number of Permanent Worker(s) for Month 5:</label>
         <input required min="0" type="number" step="1" value={{x.numPermanent5}} name="numPermanent5" id="numPermanent5" placeholder="Number of Permanent Worker(s) for Month 5" class="mt-1 px-3 py-2 mb-6 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 text-center">
         <label for="numPermanent6" class="block mb-2 text-sm font-bold text-gray-600">Number of Permanent Worker(s) for Month 6:</label>
         <input required min="0" type="number" step="1" value={{x.numPermanent6}} name="numPermanent6" id="numPermanent6" placeholder="Number of Permanent Worker(s) for Month 6" class="mt-1 px-3 py-2 mb-6 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 text-center">
         <label for="numPermanent7" class="block mb-2 text-sm font-bold text-gray-600">Number of Permanent Worker(s) for Month 7:</label>
         <input required min="0" type="number" step="1" value={{x.numPermanent7}} name="numPermanent7" id="numPermanent7" placeholder="Number of Permanent Worker(s) for Month 7" class="mt-1 px-3 py-2 mb-6 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 text-center">
         <label for="numPermanent8" class="block mb-2 text-sm font-bold text-gray-600">Number of Permanent Worker(s) for Month 8:</label>
         <input required min="0" type="number" step="1" value={{x.numPermanent8}} name="numPermanent8" id="numPermanent8" placeholder="Number of Permanent Worker(s) for Month 8" class="mt-1 px-3 py-2 mb-6 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 text-center">
         {% endfor %}
         <div class="flex space-x-2 justify-center pt-3">
            <button type="submit" name="Submit" class="bg-orange-500 text-white py-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Confirm</button>
         </div>
      </div>
   </form>
</body>
{% endblock %}
