{% extends 'main/navbar_footer.html' %}
{% block title %}Details{% endblock  %}
{% block content %}

<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
<script src="http://cdn.tailwindcss.com"></script>
<body class="min-h-screen  bg-neutral-100bg-neutral-100" style="min-height: 400px; margin-bottom: 100px;">
      <div class='overflow-x-auto my-16 ml-60'>
            <table class="mx-auto max-w-4xl drop-shadow-lg font-[Poppins] rounded-lg border-none w-full overflow-hidden">
                  <thead class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center">
                        {% for x in detail %}
                        <tr class="text-white text-center border-none">
                              <th class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-white border-b-2" colspan="9">{{x.planName}}</th>
                        </tr> 
                        {% endfor %}
                  </thead>
                  <thead class="bg-white text-white text-center border-none">
                        <tr class="text-white text-center border-none">
                              <th class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-sky-700">Month</th>
                              <th class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-sky-700">Remaining Demand</th>
                              <th class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-sky-700">Ending Inventory Unit(s)</th>
                              <th class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-sky-700">Number of Temporary Worker Hired</th>
                              <th class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-sky-700">Number of Temporary Worker Fired</th>
                              <th class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-sky-700">Number of Temporary Worker(s)</th>
                              <th class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-sky-700">Hiring Cost</th>
                              <th class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-sky-700">Firing Cost</th>
                              <th class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-sky-700">Inventory Holding Cost</th>
                        </tr> 
                  </thead> 
                  <tbody class="bg-white text-gray-900 text-center border-none">
                        <tr class="border-none">
                              <th class="font-semibold uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2">Month 1</th>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">{{ rd1 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">{{ ei1 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">{{ ntwH1 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">{{ ntwF1 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">{{ ntw1 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">RM{{ hC1 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">RM{{ fC1 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-none">RM{{ ihc1 }}</td>
                        </tr>
                        <tr class=" bg-white border-none">
                              <th class="font-semibold uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2">Month 2</th>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">{{ rd2 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">{{ ei2 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">{{ ntwH2 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">{{ ntwF2 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">{{ ntw2 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">RM{{ hC2 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">RM{{ fC2 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-none">RM{{ ihc2 }}</td>
                        </tr>
                        <tr class=" bg-white border-none">
                              <th class="font-semibold uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2">Month 3</th>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">{{ rd3 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">{{ ei3 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">{{ ntwH3 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">{{ ntwF3 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">{{ ntw3 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">RM{{ hC3 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">RM{{ fC3 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-none">RM{{ ihc3 }}</td>
                        </tr>
                        <tr class=" bg-white border-none">
                              <th class="font-semibold uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2">Month 4</th>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">{{ rd4 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">{{ ei4 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">{{ ntwH4 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">{{ ntwF4 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">{{ ntw4 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">RM{{ hC4 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">RM{{ fC4 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-none">RM{{ ihc4 }}</td>
                        </tr>
                        <tr class=" bg-white border-none">
                              <th class="font-semibold uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2">Month 5</th>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">{{ rd5 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">{{ ei5 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">{{ ntwH5 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">{{ ntwF5 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">{{ ntw5 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">RM{{ hC5 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">RM{{ fC5 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-none">RM{{ ihc5 }}</td>
                        </tr>
                        <tr class=" bg-white border-none">
                              <th class="font-semibold uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2">Month 6</th>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">{{ rd6 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">{{ ei6 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">{{ ntwH6 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">{{ ntwF6 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">{{ ntw6 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">RM{{ hC6 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">RM{{ fC6 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-none">RM{{ ihc6 }}</td>
                        </tr>
                        <tr class=" bg-white border-none">
                              <th class="font-semibold uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2">Month 7</th>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">{{ rd7 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">{{ ei7 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">{{ ntwH7 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">{{ ntwF7 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">{{ ntw7 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">RM{{ hC7 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-0 border-t-0 border-l-0">RM{{ fC7 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-none">RM{{ ihc7 }}</td>
                        </tr>
                        <tr class=" bg-white border-none">
                              <th class="font-semibold uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-2">Month 8</th>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-2 border-t-0 border-l-0">{{ rd8 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-2 border-t-0 border-l-0">{{ ei8 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-2 border-t-0 border-l-0">{{ ntwH8 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-2 border-t-0 border-l-0">{{ ntwF8 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-2 border-t-0 border-l-0">{{ ntw8 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-2 border-t-0 border-l-0">RM{{ hC8 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-r-2 border-b-2 border-t-0 border-l-0">RM{{ fC8 }}</td>
                              <td class="font-medium uppercase bg-white text-sm text-black text-center whitespace-nowrap p-5 border-sky-700 border-b-2 border-t-0 border-l-0 border-r-0">RM{{ ihc8 }}</td>
                        </tr>
                        <tr class=" bg-white border-none">
                              <th class="font-semibold text-sm uppercase px-6 py-4 text-center  border-sky-700 border-r-2 border-t-0 border-l-0 text-black" colspan="6">Total Individual Costs</th>
                              <td class="whitespace-nowrap text-sm font-medium text-center border-none">RM{{ thC }}</td>
                              <td class="whitespace-nowrap text-sm font-medium text-center border-none">RM{{ tfC }}</td>
                              <td class="whitespace-nowrap text-sm font-medium text-center border-none">RM{{ tihC }}</td>
                        </tr>
                        {% for x in detail %}
                        <tr class="text-sm uppercase px-6 py-4 bg-sky-700 text-center text-white font-bold border-none">
                              <th class="font-semibold text-sm uppercase px-6 py-4  text-center border-none " colspan="6">Optimized Final Cost for Multi-Period Planning</th>
                              <td class="whitespace-nowrap font-bold border-none" colspan="3">RM{{ x.optimalCost }}</td>
                        </tr>
                        {% endfor %}
                  </tbody>
            </table>
      </div>
</body>
{% endblock  %} 