{% extends 'main/navbar_footer.html' %}
{% block title %}Details{% endblock  %}
{% block content %}

<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
<script src="http://cdn.tailwindcss.com"></script>
<body class="min-h-screen  bg-slate-300" style="min-height: 400px; margin-bottom: 100px;">
      <div class='overflow-x-auto my-16 ml-60'>
            <table class="mx-auto max-w-4xl drop-shadow-lg font-[Poppins] rounded-lg border-none w-full overflow-hidden">
                  <thead class="text-white border-none bg-blue-700">
                        {% for x in detail %}
                        <tr class="text-white text-center border-none">
                              <th class="font-semibold text-sm uppercase px-6 py-4 bg-blue-700 text-center border-none" colspan="9">{{x.planName}}</th>
                        </tr> 
                        {% endfor %}
                  </thead>
                  <thead class="bg-white text-black border-none">
                        <tr class="text-black text-center border-none">
                              <th class="font-semibold text-sm uppercase px-6 py-4 text-center border-none">Month</th>
                              <th class="font-semibold text-sm uppercase px-6 py-4 text-center border-none">Remaining Demand</th>
                              <th class="font-semibold text-sm uppercase px-6 py-4 text-center border-none">Ending Inventory Unit(s)</th>
                              <th class="font-semibold text-sm uppercase px-6 py-4 text-center border-none">Number of Temporary Worker Hired</th>
                              <th class="font-semibold text-sm uppercase px-6 py-4 text-center border-none">Number of Temporary Worker Fired</th>
                              <th class="font-semibold text-sm uppercase px-6 py-4 text-center border-none">Number of Temporary Worker(s)</th>
                              <th class="font-semibold text-sm uppercase px-6 py-4 text-center border-none">Hiring Cost</th>
                              <th class="font-semibold text-sm uppercase px-6 py-4 text-center border-none">Firing Cost</th>
                              <th class="font-semibold text-sm uppercase px-6 py-4 text-center border-none">Inventory Holding Cost</th>
                        </tr> 
                  </thead> 
                  <tbody class="bg-white text-gray-900 text-center border-none">
                        <tr class="border-none">
                              <th class="font-semibold text-sm uppercase px-6 py-4 text-center border-none text-black">Month 1</th>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ rd1 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ei1 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntwH1 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntwF1 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntw1 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ hC1 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ fC1 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ ihc1 }}</td>
                        </tr>
                        <tr class=" bg-white border-none">
                              <th class="font-semibold text-sm uppercase px-6 py-4 text-center border-none text-black">Month 2</th>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ rd2 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ei2 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntwH2 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntwF2 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntw2 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ hC2 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ fC2 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ ihc2 }}</td>
                        </tr>
                        <tr class=" bg-white border-none">
                              <th class="font-semibold text-sm uppercase px-6 py-4 text-center border-none text-black">Month 3</th>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ rd3 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ei3 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntwH3 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntwF3 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntw3 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ hC3 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ fC3 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ ihc3 }}</td>
                        </tr>
                        <tr class=" bg-white border-none">
                              <th class="font-semibold text-sm uppercase px-6 py-4 text-center border-none text-black">Month 4</th>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ rd4 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ei4 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntwH4 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntwF4 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntw4 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ hC4 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ fC4 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ ihc4 }}</td>
                        </tr>
                        <tr class=" bg-white border-none">
                              <th class="font-semibold text-sm uppercase px-6 py-4 text-center border-none text-black" colspan="6">Total Individual Costs</th>
                              <td class="whitespace-nowrap text-sm font-medium text-center border-none">RM{{ thC }}</td>
                              <td class="whitespace-nowrap text-sm font-medium text-center border-none">RM{{ tfC }}</td>
                              <td class="whitespace-nowrap text-sm font-medium text-center border-none">RM{{ tihC }}</td>
                        </tr>
                        {% for x in detail %}
                        <tr class="bg-blue-700 text-white font-bold border-none">
                              <th class="font-semibold text-sm uppercase px-6 py-4  text-center border-none " colspan="6">Optimized Final Cost for Multi-Period Planning</th>
                              <td class="whitespace-nowrap font-bold border-none" colspan="3">RM{{ x.optimalCost }}</td>
                        </tr>
                        {% endfor %}
                  </tbody>
            </table>
            
      </div>
</body>
{% endblock  %} 