{% extends 'main/navbar_footer.html' %} {% block title %}Production of a Temporary Worker Input{% endblock %}
{% block content %}
{% load widget_tweaks %}
{% load compress %}
{% load static %}
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
<script src="http://cdn.tailwindcss.com"></script>
<body class="min-h-screen bg-neutral-100" style="min-height: 400px; margin-bottom: 5px; clear: both; text-align: center">
   <form method="POST" class="bg-white p-6 drop-shadow-lg rounded-[18px] ml-[635px] mr-[400px] mt-[15px] font-[Poppins] w-[24rem] overflow-hidden m-10">
      <h1 class="px-4 py-4 text-3xl block text-center bg-clip-text text-transparent bg-gradient-to-b from-sky-700 to-sky-900 font-black">Please Insert Needed Input</h1>
      {% csrf_token %}
      <div class="p-6">
         {% for x in detail %}
         <label for="prodTemporary1" class="block mb-2 text-sm font-bold text-gray-600">Production of a Temporary Worker for Month 1:</label>
         <input required min="1" type="number" step="1" value={{x.prodTemporary1}} name="prodTemporary1" id="prodTemporary1" placeholder="Production of a Temporary Worker for Month 1" class="mt-1 px-3 py-2 mb-6 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 text-center">
         <label for="prodTemporary2" class="block mb-2 text-sm font-bold text-gray-600">Production of a Temporary Worker for Month 2:</label>
         <input required min="1" type="number" step="1" value={{x.prodTemporary2}} name="prodTemporary2" id="prodTemporary2" placeholder="Production of a Temporary Worker for Month 2" class="mt-1 px-3 py-2 mb-6 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 text-center">
         <label for="prodTemporary3" class="block mb-2 text-sm font-bold text-gray-600">Production of a Temporary Worker for Month 3:</label>
         <input required min="1" type="number" step="1" value={{x.prodTemporary3}} name="prodTemporary3" id="prodTemporary3" placeholder="Production of a Temporary Worker for Month 3" class="mt-1 px-3 py-2 mb-6 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 text-center">
         <label for="prodTemporary4" class="block mb-2 text-sm font-bold text-gray-600">Production of a Temporary Worker for Month 4:</label>
         <input required min="1" type="number" step="1" value={{x.prodTemporary4}} name="prodTemporary4" id="prodTemporary4" placeholder="Production of a Temporary Worker for Month 4" class="mt-1 px-3 py-2 mb-6 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 text-center">
         <label for="prodTemporary5" class="block mb-2 text-sm font-bold text-gray-600">Production of a Temporary Worker for Month 5:</label>
         <input required min="1" type="number" step="1" value={{x.prodTemporary5}} name="prodTemporary5" id="prodTemporary5" placeholder="Production of a Temporary Worker for Month 5" class="mt-1 px-3 py-2 mb-6 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 text-center">
         <label for="prodTemporary6" class="block mb-2 text-sm font-bold text-gray-600">Production of a Temporary Worker for Month 6:</label>
         <input required min="1" type="number" step="1" value={{x.prodTemporary6}} name="prodTemporary6" id="prodTemporary6" placeholder="Production of a Temporary Worker for Month 6" class="mt-1 px-3 py-2 mb-6 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 text-center">
         <label for="prodTemporary7" class="block mb-2 text-sm font-bold text-gray-600">Production of a Temporary Worker for Month 7:</label>
         <input required min="1" type="number" step="1" value={{x.prodTemporary7}} name="prodTemporary7" id="prodTemporary7" placeholder="Production of a Temporary Worker for Month 7" class="mt-1 px-3 py-2 mb-6 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 text-center">
         <label for="prodTemporary8" class="block mb-2 text-sm font-bold text-gray-600">Production of a Temporary Worker for Month 8:</label>
         <input required min="1" type="number" step="1" value={{x.prodTemporary8}} name="prodTemporary8" id="prodTemporary8" placeholder="Production of a Temporary Worker for Month 8" class="mt-1 px-3 py-2 mb-6 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 text-center">
         <label for="prodTemporary9" class="block mb-2 text-sm font-bold text-gray-600">Production of a Temporary Worker for Month 9:</label>
         <input required min="1" type="number" step="1" value={{x.prodTemporary9}} name="prodTemporary9" id="prodTemporary9" placeholder="Production of a Temporary Worker for Month 9" class="mt-1 px-3 py-2 mb-6 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 text-center">
         <label for="prodTemporary10" class="block mb-2 text-sm font-bold text-gray-600">Production of a Temporary Worker for Month 10:</label>
         <input required min="1" type="number" step="1" value={{x.prodTemporary10}} name="prodTemporary10" id="prodTemporary10" placeholder="Production of a Temporary Worker for Month 10" class="mt-1 px-3 py-2 mb-6 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1 text-center">
         {% endfor %}
         <div class="flex space-x-2 justify-center pt-3">
            <button type="submit" name="Submit" class="bg-orange-500 text-white py-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Confirm</button>
         </div>
      </div>
   </form>
</body>
{% endblock %}
