{% extends 'main/navbar_footer.html' %}


{% load widget_tweaks %}
{% load compress %}
{% load static %}
{% block title %}View User{% endblock  %}
{% block content %}

       
    <div class="overflow-x-auto relative">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
                <tr>
                    <th scope="col" class="py-3 px-6">
                        Email
                    </th>
                    <th scope="col" class="py-3 px-6">
                        First Name
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Last Name
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Username
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Role
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for b in boss %}
                <tr class="bg-white border-b ">
                    <td class="py-4 px-6 ">
                        {{ b.email }}
                    </td>
                    <td class="py-4 px-6">
                        {{b.first_name}}
                    </td>
                    <td class="py-4 px-6">
                        {{b.last_name}}
                    </td>
                    <td class="py-4 px-6">
                        {{b.username}}
                    </td>
                    <td class="py-4 px-6">
                        Boss
                    </td>
                    <td class="text-center"  >
                        <button type="button" class="text-blue-700 border border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 w-8 text-center inline-flex items-center mr-2 ">
                           <a href="{% url 'delete-boss' b.id %}" ><span class="text-center" >X</span><a/>
                          </button>
                    </td>
                    
                </tr>
                {% endfor %}
                {% for w in worker %}
                <tr class="bg-white border-b ">
                    <td class="py-4 px-6 ">
                        {{ w.email }}
                    </td>
                    <td class="py-4 px-6">
                        {{w.first_name}}
                    </td>
                    <td class="py-4 px-6">
                        {{w.last_name}}
                    </td>
                    <td class="py-4 px-6">
                        {{w.username}}
                    </td>
                    <td class="py-4 px-6">
                        Worker
                    </td>
                    <td class="text-center"  >
                        <button type="button" class="text-blue-700 border border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 w-8 text-center inline-flex items-center mr-2 ">
                           <a href="{% url 'delete-worker' w.id %}" ><span class="text-center" >X</span><a/>
                          </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock  %} 
