{% extends 'main/navbar_footer.html' %}
{% block title %}History{% endblock  %}
{% block content %}

<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
<script src="http://cdn.tailwindcss.com"></script>
<body class="min-h-screen bg-slate-300" style="min-height: 400px; margin-bottom: 100px; clear: both;">
    <!--so that the table can accomodate data-->
    <div class='overflow-x-auto'>
    <h3 class="block mt-6 mb-6 text-center text-2xl font-medium text-gray-800 dark:text-gray">Input Functions</h3>
    <table class="mx-auto max-w-4xl drop-shadow-lg font-[Poppins] rounded-lg border-gray-800 w-2/5 overflow-hidden">
        <!--start of table-->
        <tr class="text-white text-center">
            <td class="font-semibold text-sm uppercase px-6 py-4 bg-blue-700 text-center">Function Name
            </td>
            <td class="font-semibold text-sm uppercase px-6 py-4 bg-blue-700 text-center">Label
            </td>
        </tr>
        <tr class="text-white text-center">
            <td class="font-semibold bg-white text-sm text-black text-center">Plan Name</td>
            <td class="bg-white text-black">Plan Name</td>
        </tr>
        <tr class="text-white text-center">
            <td class="font-semibold bg-white text-sm text-black text-center">Demand 1</td>
            <td class="bg-white text-black">Demand for Month 1</td>
        </tr>
        <tr class="text-white text-center">
            <td class="font-semibold bg-white text-sm text-black text-center">Demand 2</td>
            <td class="bg-white text-black">Demand for Month 2</td>
        </tr>
        <tr class="text-white text-center">
            <td class="font-semibold bg-white text-sm text-black text-center">Demand 3</td>
            <td class="bg-white text-black">Demand for Month 3</td>
        </tr>
        <tr class="text-white text-center">
            <td class="font-semibold bg-white text-sm text-black text-center">Demand 4</td>
            <td class="bg-white text-black">Demand for Month 4</td>
        </tr>
        <tr class="text-white text-center">
            <td class="font-semibold bg-white text-sm text-black text-center">numPermanent</td>
            <td class="bg-white text-black">Number of Permanent Worker(s)</td>
        </tr>
        <tr class="text-white text-center">
            <td class="font-semibold bg-white text-sm text-black text-center">prodPermanent</td>
            <td class="bg-white text-black">Production of a Permanent Worker</td>
        </tr>
        <tr class="text-white text-center">
            <td class="font-semibold bg-white text-sm text-black text-center">prodTemporary</td>
            <td class="bg-white text-black">Production of a Temporary Worker</td>
        </tr>
        <tr class="text-white text-center">
            <td class="font-semibold bg-white text-sm text-black text-center">costHiring</td>
            <td class="bg-white text-black">Temporary Worker Hiring Cost</td>
        </tr>
        <tr class="text-white text-center">
            <td class="font-semibold bg-white text-sm text-black text-center">costFiring</td>
            <td class="bg-white text-black">Temporary Worker Firing Cost</td>
        </tr>
        <tr class="text-white text-center">
            <td class="font-semibold bg-white text-sm text-black text-center">costHoldingUnit</td>
            <td class="bg-white text-black">Monthly Holding Cost per Unit</td>
        </tr>
        <tr class="text-white text-center">
            <td class="font-semibold bg-white text-sm text-black text-center">inventoryInitial</td>
            <td class="bg-white text-black">Initial Inventory Level</td>
        </tr>
        <tr class="text-white text-center">
            <td class="font-semibold bg-white text-sm text-black text-center">inventoryFinal</td>
            <td class="bg-white text-black">Final Inventory Level</td>
        </tr>
        <!--end of table-->
    </table>
    </div>
{% endblock %}