{% extends 'main/navbar_footer.html' %}
{% block title %}History{% endblock  %}
{% block content %}

<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
<script src="http://cdn.tailwindcss.com"></script>
<body class="min-h-screen bg-neutral-100" style="min-height: 400px; margin-bottom: 100px; clear: both;">
  <div class='overflow-x-auto m-5'>
    <table class="bg-white p-6 drop-shadow-lg rounded-[18px] ml-[325px] mt-[5px] font-[Poppins] w-[24rem] overflow-hidden m-10">
      {% comment %} Four Month Plans {% endcomment %}
      <tr class="text-white text-center">
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-neutral-100" colspan="3">Four Month Plan
        </td>
      </tr>
      <tr class="text-white text-center">
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-sky-700">Plan Name
        </td>
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-sky-700">Variables
        </td>
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-sky-700" colspan="2">Action
        </td>
      </tr>
      {% for list in historyListFour %}
      <tr class="text-white text-center">
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap text-sm font-medium p-5 border-sky-700 border-r-[2px]">
          {{list.planName}}Cost
        </td>
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap text-sm font-medium   p-5 border-sky-700 border-r-[1.5px]">
          <a href={% url 'demandFour' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Demand</a>
          <a href={% url 'numPermanentFour' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Number of Permanent Worker(s)</a><br><br>
          <a href={% url 'inventoryInitialFinal' 'Four' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Starting and Ending Inventory Level</a><br><br>
          <a href={% url 'costHiringFour' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Hiring Cost</a>
          <a href={% url 'costFiringFour' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Firing Cost</a>
          <a href={% url 'costHoldingUnitFour' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Holding Cost Per Unit</a><br><br>
          <a href={% url 'prodPermanentFour' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Permanent Worker Production</a>
          <a href={% url 'prodTemporaryFour' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Temporary Worker Production</a>
        </td>
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap text-sm font-medium p-5 border-white">
          <a href={% url 'viewDetailFour' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">View Optimized Details</a><br><br>
          <a href={% url 'deleteDetailFour' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Delete Plan</a>
          <a href={% url 'downloadFour' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">download</a>
        </td>
      </tr> 
      {% empty %}
      <tr class="text-white text-center">
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap text-sm font-medium p-5 border-transparant" colspan="3">
          No Four Month Production Plans Found in Database 
        </td>
      </tr> 
      {% endfor %}
      
      {% comment %} Five Month Plans {% endcomment %}
      <tr class="text-white text-center">
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-neutral-100 border-[1.5px]" colspan="3">Five Month Plan
        </td>
      </tr>
      <tr class="text-white text-center">
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-sky-700">Plan Name
        </td>
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-sky-700">Variables
        </td>
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-sky-700" colspan="2">Action
        </td>
      </tr>
      {% for list in historyListFive %}
      <tr class="text-white text-center">
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap text-sm font-medium p-5 border-sky-700 border-r-[2px]">
          {{list.planName}}
        </td>
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap text-sm font-medium p-5 border-sky-700 border-r-[1.5px]">
          <a href={% url 'demandFive' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Demand</a>
          <a href={% url 'numPermanentFive' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Number of Permanent Worker(s)</a><br><br>
          <a href={% url 'inventoryInitialFinal' 'Five' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Starting and Ending Inventory Level</a><br><br>
          <a href={% url 'costHiringFive' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Hiring Cost</a>
          <a href={% url 'costFiringFive' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Firing Cost</a>
          <a href={% url 'costHoldingUnitFive' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Holding Cost Per Unit</a><br><br>
          <a href={% url 'prodPermanentFive' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Permanent Worker Production</a>
          <a href={% url 'prodTemporaryFive' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Temporary Worker Production</a>
        </td>
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap text-sm font-medium p-5 border-white">
          <a href={% url 'viewDetailFive' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">View Optimized Details</a><br><br>
          <a href={% url 'deleteDetailFive' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Delete Plan</a>
          <a href={% url 'downloadFive' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">download</a>
        </td>
      </tr> 
      {% empty %}
      <tr class="text-white text-center">
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap text-sm font-medium p-5 border-transparant" colspan="3">
          No Five Month Production Plans Found in Database 
        </td>
      </tr> 
      {% endfor %}
      
      {% comment %} Six Month Plans {% endcomment %}
      <tr class="text-white text-center">
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-neutral-100 border-[1.5px]" colspan="3">Six Month Plan
        </td>
      </tr>
      <tr class="text-white text-center">
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-sky-700">Plan Name
        </td>
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-sky-700">Variables
        </td>
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-sky-700" colspan="2">Action
        </td>
      </tr>
      {% for list in historyListSix %}
      <tr class="text-white text-center">
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap text-sm font-medium p-5 border-sky-700 border-r-[2px]">
          {{list.planName}}
        </td>
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap text-sm font-medium p-5 border-sky-700 border-r-[1.5px]">
          <a href={% url 'demandSix' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Demand</a>
          <a href={% url 'numPermanentSix' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Number of Permanent Worker(s)</a><br><br>
          <a href={% url 'inventoryInitialFinal' 'Six' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Starting and Ending Inventory Level</a><br><br>
          <a href={% url 'costHiringSix' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Hiring Cost</a>
          <a href={% url 'costFiringSix' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Firing Cost</a>
          <a href={% url 'costHoldingUnitSix' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Holding Cost Per Unit</a><br><br>
          <a href={% url 'prodPermanentSix' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Permanent Worker Production</a>
          <a href={% url 'prodTemporarySix' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Temporary Worker Production</a>
        </td>
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap text-sm font-medium p-5 border-r-white border-b-sky-700">
          <a href={% url 'viewDetailSix' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">View Optimized Details</a><br><br>
          <a href={% url 'deleteDetailSix' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Delete Plan</a>
          <a href={% url 'downloadSix' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">download</a>
        </td>
      </tr> 
      {% empty %}
      <tr class="text-white text-center">
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap text-sm font-medium p-5 border-transparantv" colspan="3">
          No Six Month Production Plans Found in Database 
        </td>
      </tr> 
      {% endfor %}

      {% comment %} Seven Month Plans {% endcomment %}
      <tr class="text-white text-center">
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-neutral-100 border-[1.5px]" colspan="3">Seven Month Plan
        </td>
      </tr>
      <tr class="text-white text-center">
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-sky-700">Plan Name
        </td>
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-sky-700">Variables
        </td>
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-sky-700" colspan="2">Action
        </td>
      </tr>
      {% for list in historyListSeven %}
      <tr class="text-white text-center">
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap text-sm font-medium p-5 border-sky-700 border-r-[2px]">
          {{list.planName}}
        </td>
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap text-sm font-medium p-5 border-sky-700 border-r-[1.5px]">
          <a href={% url 'demandSeven' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Demand</a>
          <a href={% url 'numPermanentSeven' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Number of Permanent Worker(s)</a><br><br>
          <a href={% url 'inventoryInitialFinal' 'Seven' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Starting and Ending Inventory Level</a><br><br>
          <a href={% url 'costHiringSeven' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Hiring Cost</a>
          <a href={% url 'costFiringSeven' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Firing Cost</a>
          <a href={% url 'costHoldingUnitSeven' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Holding Cost Per Unit</a><br><br>
          <a href={% url 'prodPermanentSeven' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Permanent Worker Production</a>
          <a href={% url 'prodTemporarySeven' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Temporary Worker Production</a>
        </td>
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap text-sm font-medium p-5 border-white">
          <a href={% url 'viewDetailSeven' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">View Optimized Details</a><br><br>
          <a href={% url 'deleteDetailSeven' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Delete Plan</a>
          <a href={% url 'downloadSeven' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">download</a>
        </td>
      </tr> 
      {% empty %}
      <tr class="text-white text-center">
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap text-sm font-medium p-5 border-transparant" colspan="3">
          No Seven Month Production Plans Found in Database 
        </td>
      </tr> 
      {% endfor %}
      
      {% comment %} Eight Month Plans {% endcomment %}
      <tr class="text-white text-center">
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-neutral-100 border-[1.5px]" colspan="3">Eight Month Plan
        </td>
      </tr>
      <tr class="text-white text-center">
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-sky-700">Plan Name
        </td>
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-sky-700">Variables
        </td>
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-sky-700" colspan="2">Action
        </td>
      </tr>
      {% for list in historyListEight %}
      <tr class="text-white text-center">
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap text-sm font-medium p-5 border-sky-700 border-r-[2px]">
          {{list.planName}}
        </td>
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap text-sm font-medium p-5 border-sky-700 border-r-[1.5px]">
          <a href={% url 'demandEight' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Demand</a>
          <a href={% url 'numPermanentEight' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Number of Permanent Worker(s)</a><br><br>
          <a href={% url 'inventoryInitialFinal' 'Eight' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Starting and Ending Inventory Level</a><br><br>
          <a href={% url 'costHiringEight' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Hiring Cost</a>
          <a href={% url 'costFiringEight' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Firing Cost</a>
          <a href={% url 'costHoldingUnitEight' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Holding Cost Per Unit</a><br><br>
          <a href={% url 'prodPermanentEight' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Permanent Worker Production</a>
          <a href={% url 'prodTemporaryEight' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Temporary Worker Production</a>
        </td>
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap text-sm font-medium p-5 border-white">
          <a href={% url 'viewDetailEight' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">View Optimized Details</a><br><br>
          <a href={% url 'deleteDetailEight' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Delete Plan</a>
          <a href={% url 'downloadEight' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">download</a>
        </td>
      </tr> 
      {% empty %}
      <tr class="text-white text-center">
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap text-sm font-medium p-5 border-transparant" colspan="3">
          No Eight Month Production Plans Found in Database 
        </td>
      </tr> 
      {% endfor %}
      
      {% comment %} Nine Month Plans {% endcomment %}
      <tr class="text-white text-center">
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-neutral-100 border-[1.5px]" colspan="3">Nine Month Plan
        </td>
      </tr>
      <tr class="text-white text-center">
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-sky-700">Plan Name
        </td>
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-sky-700">Variables
        </td>
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-sky-700" colspan="2">Action
        </td>
      </tr>
      {% for list in historyListNine %}
      <tr class="text-white text-center">
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap text-sm font-medium p-5 border-sky-700 border-r-[2px]">
          {{list.planName}}
        </td>
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap text-sm font-medium p-5 border-sky-700 border-r-[1.5px]">
          <a href={% url 'demandNine' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Demand</a>
          <a href={% url 'numPermanentNine' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Number of Permanent Worker(s)</a><br><br>
          <a href={% url 'inventoryInitialFinal' 'Nine' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Starting and Ending Inventory Level</a><br><br>
          <a href={% url 'costHiringNine' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Hiring Cost</a>
          <a href={% url 'costFiringNine' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Firing Cost</a>
          <a href={% url 'costHoldingUnitNine' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Holding Cost Per Unit</a><br><br>
          <a href={% url 'prodPermanentNine' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Permanent Worker Production</a>
          <a href={% url 'prodTemporaryNine' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Temporary Worker Production</a>
        </td>
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap text-sm font-medium p-5 border-white">
          <a href={% url 'viewDetailNine' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">View Optimized Details</a><br><br>
          <a href={% url 'deleteDetailNine' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Delete Plan</a>
          <a href={% url 'downloadNine' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">download</a>
        </td>
      </tr> 
      {% empty %}
      <tr class="text-white text-center">
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap text-sm font-medium p-5 border-transparant" colspan="3">
          No Nine Month Production Plans Found in Database 
        </td>
      </tr> 
      {% endfor %}

      {% comment %} Ten Month Plans {% endcomment %}
      <tr class="text-white text-center">
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-neutral-100 border-[1.5px]" colspan="3">Ten Month Plan
        </td>
      </tr>
      <tr class="text-white text-center">
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-sky-700">Plan Name
        </td>
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-sky-700">Variables
        </td>
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-sky-700" colspan="2">Action
        </td>
      </tr>
      {% for list in historyListTen %}
      <tr class="text-white text-center">
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap text-sm font-medium p-5 border-sky-700 border-r-[2px]">
          {{list.planName}}
        </td>
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap text-sm font-medium p-5 border-sky-700 border-r-[1.5px]">
          <a href={% url 'demandTen' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Demand</a>
          <a href={% url 'numPermanentTen' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Number of Permanent Worker(s)</a><br><br>
          <a href={% url 'inventoryInitialFinal' 'Ten' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Starting and Ending Inventory Level</a><br><br>
          <a href={% url 'costHiringTen' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Hiring Cost</a>
          <a href={% url 'costFiringTen' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Firing Cost</a>
          <a href={% url 'costHoldingUnitTen' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Holding Cost Per Unit</a><br><br>
          <a href={% url 'prodPermanentTen' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Permanent Worker Production</a>
          <a href={% url 'prodTemporaryTen' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Temporary Worker Production</a>
        </td>
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap text-sm font-medium p-5 border-white">
          <a href={% url 'viewDetailTen' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">View Optimized Details</a><br><br>
          <a href={% url 'deleteDetailTen' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Delete Plan</a>
          <a href={% url 'downloadTen' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">download</a>
        </td>
      </tr> 
      {% empty %}
      <tr class="text-white text-center">
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap text-sm font-medium p-5 border-transparant" colspan="3">
          No Ten Month Production Plans Found in Database 
        </td>
      </tr> 
      {% endfor %}

      {% comment %} Eleven Month Plans {% endcomment %}
      <tr class="text-white text-center">
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-neutral-100 border-[1.5px]" colspan="3">Eleven Month Plan
        </td>
      </tr>
      <tr class="text-white text-center">
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-sky-700">Plan Name
        </td>
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-sky-700">Variables
        </td>
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-sky-700" colspan="2">Action
        </td>
      </tr>
      {% for list in historyListEleven %}
      <tr class="text-white text-center">
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap text-sm font-medium p-5 border-sky-700 border-r-[2px]">
          {{list.planName}}
        </td>
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap text-sm font-medium p-5 border-sky-700 border-r-[1.5px]">
          <a href={% url 'demandEleven' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Demand</a>
          <a href={% url 'numPermanentEleven' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Number of Permanent Worker(s)</a><br><br>
          <a href={% url 'inventoryInitialFinal' 'Eleven' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Starting and Ending Inventory Level</a><br><br>
          <a href={% url 'costHiringEleven' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Hiring Cost</a>
          <a href={% url 'costFiringEleven' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Firing Cost</a>
          <a href={% url 'costHoldingUnitEleven' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Holding Cost Per Unit</a><br><br>
          <a href={% url 'prodPermanentEleven' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Permanent Worker Production</a>
          <a href={% url 'prodTemporaryEleven' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Temporary Worker Production</a>
        </td>
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap text-sm font-medium p-5 border-white">
          <a href={% url 'viewDetailEleven' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">View Optimized Details</a><br><br>
          <a href={% url 'deleteDetailEleven' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Delete Plan</a>
          <a href={% url 'downloadEleven' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">download</a>
        </td>
      </tr> 
      {% empty %}
      <tr class="text-white text-center">
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap text-sm font-medium p-5 border-transparant" colspan="3">
          No Eleven Month Production Plans Found in Database 
        </td>
      </tr> 
      {% endfor %}

      {% comment %} Twelve Month Plans {% endcomment %}
      <tr class="text-white text-center">
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-neutral-100 border-[1.5px]" colspan="3">Twelve Month Plan
        </td>
      </tr>
      <tr class="text-white text-center">
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-sky-700">Plan Name
        </td>
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-sky-700">Variables
        </td>
        <td class="font-semibold text-sm uppercase px-6 py-4 bg-sky-700 text-center border-sky-700" colspan="2">Action
        </td>
      </tr>
      {% for list in historyListTwelve %}
      <tr class="text-white text-center">
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap text-sm font-medium p-5 border-sky-700 border-r-[2px]">
          {{list.planName}}
        </td>
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap text-sm font-medium p-5 border-sky-700 border-r-[1.5px]">
          <a href={% url 'demandTwelve' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Demand</a>
          <a href={% url 'numPermanentTwelve' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Number of Permanent Worker(s)</a><br><br>
          <a href={% url 'inventoryInitialFinal' 'Twelve' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Starting and Ending Inventory Level</a><br><br>
          <a href={% url 'costHiringTwelve' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Hiring Cost</a>
          <a href={% url 'costFiringTwelve' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Firing Cost</a>
          <a href={% url 'costHoldingUnitTwelve' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Holding Cost Per Unit</a><br><br>
          <a href={% url 'prodPermanentTwelve' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Permanent Worker Production</a>
          <a href={% url 'prodTemporaryTwelve' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Temporary Worker Production</a>
        </td>
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap text-sm font-medium p-5 border-white">
          <a href={% url 'viewDetailTwelve' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">View Optimized Details</a><br><br>
          <a href={% url 'deleteDetailTwelve' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">Delete Plan</a>
          <a href={% url 'downloadTwelve' list.planName %} class="m-1 bg-orange-500 text-white p-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-red-500 hover:text-white font-bold">download</a>
        </td>
      </tr> 
      {% empty %}
      <tr class="text-white text-center">
        <td class="font-semibold bg-white text-sm text-black text-center whitespace-nowrap text-sm font-medium p-5 border-transparant" colspan="3">
          No Twelve Month Production Plans Found in Database 
        </td>
      </tr> 
      {% endfor %}
      <!--end of table-->
    </table>
    </div>
</body>
{% endblock  %} 