{% extends 'main/navbar_footer.html' %}
{% block title %}History{% endblock  %}
{% block content %}

<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
<script src="http://cdn.tailwindcss.com"></script>
<body class="min-h-screen bg-slate-300" style="min-height: 400px; margin-bottom: 100px; clear: both;">
<div class='overflow-x-auto'>
  <table>
    {% for list in historyList %}
      <tr class="cursor-pointer hover:bg-cyan-100 hover:scale-105 duration-300 ">
        <td class="px-1 py-2 text-center border-none">{{list.planName}}
          <button type="submit" name="viewDetail" class="mt-2 bg-indigo-600 text-white py-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-blue-500 hover:text-white font-bold">
            <a href={% url 'viewDetail' list.planName %} >details</a></button> 
            <button type="submit" name="deleteDetail" class="mt-4 bg-indigo-600 text-white py-2 w-full rounded-md drop-shadow-lg transition duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-blue-500 hover:text-white font-bold"><a href={% url 'deleteDetail' list.planName %} >delete</a></button></td> 
    {% endfor %}
  </table>
</div>
</body>
{% endblock  %} 