<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}My Server{% endblock  %}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="./css/tailwind.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/flowbite@1.5.1/dist/flowbite.js"></script>
  {% load widget_tweaks %}
  {% load compress %}
  {% load static %}
  {% compress css %}
  <link rel="stylesheet" href="{% static 'src/output.css' %}">
  {% endcompress %}
  <script src="https://unpkg.com/flowbite@1.5.5/dist/flowbite.js"></script>
  <link rel="icon" href="https://i.ibb.co/8gpyyg9/logo-App-Dev.png" type="image/x-icon">
  <style>
    table, tr, td{
      border: solid black 1px;
    }
    input[type="number"] {
      border: solid black 1px;
    }
  </style>
</head>
<body>

  <div class="container flex flex-wrap">
  <aside class="w-64 h-screen bg-gradient-to-b from-sky-700 to-sky-900 rounded-r-lg fixed mr-2">
    <div class="px-6 pt-8">

      <div class="flex items-center justify-center pl-4">
      <a href="/" class="block text-gray-700 rounded hover:underline md:mr-6 hover:bg-transparent md:hover:bg-transparent    md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-transparent dark:hover:text-white md:dark:hover:bg-transparent"><img class="w-42" src="https://i.ibb.co/xzd0dBy/App-Dev-Logo-2.png"></img></a>
      </div>
      
      <div class="pt-6">
        <hr class="border-neutral-100">
      </div> 
      {% if user.is_authenticated%}
      <a href="{% url 'editprofile' user.id %}" >
      <div class="flex items-center pt-4 p-2 space-x-4">
        <img src="https://source.unsplash.com/100x100/?portrait" alt="" class="w-12 h-12 rounded-full dark:bg-gray-500">
        <div>
          <h2 class="text-lg font-semibold  text-white">{{ user.first_name }}&nbsp;{{ user.last_name }}</h2>
          <p class="text-sm font-semibold  text-slate-300">Edit Profile</p>
        </div>
      </div>
    </a>

      <div class=" pt-2">
        <hr class="border-neutral-100">
      </div>
      {% endif %}
        <div class="pt-4">
      {% if user.is_authenticated%}
      {% comment %} <button class="inline-block text-sm leading-none  rounded text-white border-none hover:border-transparent hover:text-white hover:bg-blue-500 "> {% endcomment %}
        <a href="{% url 'history' %}" class="flex items-center p-2 font-semibold text-neutral-100 transition-colors rounded-md dark:text-bold hover:bg-neutral-100 dark:hover:bg-neutral-100  hover:text-sky-700 dark:hover:text-sky-700"
        :class="{'bg-indigo-100 dark:bg-indigo-600': isActive || open}"
        role="button"
        aria-haspopup="true"
        :aria-expanded="(open || isActive) ? 'true' : 'false'"
    >History</a>
        {% comment %} </button> {% endcomment %}

      {% comment %} <button class="inline-block text-sm m-4  leading-none border rounded text-white border-white hover:border-transparent hover:text-white hover:bg-blue-500 "> {% endcomment %}
        <a href="{% url 'formula' %}" class="flex items-center p-2 font-semibold text-neutral-100 transition-colors rounded-md dark:text-bold hover:bg-neutral-100 dark:hover:bg-neutral-100  hover:text-sky-700 dark:hover:text-sky-700"
        :class="{'bg-indigo-100 dark:bg-indigo-600': isActive || open}"
        role="button"
        aria-haspopup="true"
        :aria-expanded="(open || isActive) ? 'true' : 'false'"
    >About Us</a>
    
    {% comment %} <button class="inline-block text-sm leading-none  rounded text-white border-none hover:border-transparent hover:text-white hover:bg-blue-500 "> {% endcomment %}
      <a href="{% url 'read' %}" class="flex items-center p-2 font-semibold text-neutral-100 transition-colors rounded-md dark:text-bold hover:bg-neutral-100 dark:hover:bg-neutral-100  hover:text-sky-700 dark:hover:text-sky-700"
      :class="{'bg-indigo-100 dark:bg-indigo-600': isActive || open}"
      role="button"
      aria-haspopup="true"
      :aria-expanded="(open || isActive) ? 'true' : 'false'"
  >Manage User</a>
      {% comment %} </button> {% endcomment %}
    
    <a href="{% url 'contact' %}" class="flex items-center p-2 font-semibold text-neutral-100 transition-colors rounded-md dark:text-bold hover:bg-neutral-100 dark:hover:bg-neutral-100  hover:text-sky-700 dark:hover:text-sky-700"
    :class="{'bg-indigo-100 dark:bg-indigo-600': isActive || open}"
    role="button"
    aria-haspopup="true"
    :aria-expanded="(open || isActive) ? 'true' : 'false'"
>Contact</a>
    {% comment %} </button> {% endcomment %}

        {% comment %} <button class="inline-block text-sm m-4  leading-none border rounded text-white border-white hover:border-transparent hover:text-white hover:bg-blue-500 "> {% endcomment %}
          <a href="{% url 'logout' %}" class="flex items-center p-2 font-semibold text-neutral-100 transition-colors rounded-md dark:text-bold hover:bg-neutral-100 dark:hover:bg-neutral-100  hover:text-sky-700 dark:hover:text-sky-700"
          :class="{'bg-indigo-100 dark:bg-indigo-600': isActive || open}"
          role="button"
          aria-haspopup="true"
          :aria-expanded="(open || isActive) ? 'true' : 'false'"
      >Logout</a> 
          {% comment %} </button> {% endcomment %}
        {% else %} 
        {% comment %} <button class="inline-block text-sm m-4  leading-none border rounded text-white border-white hover:border-transparent hover:text-white hover:bg-blue-500 "> {% endcomment %}
          <a href="login/" class="flex items-center p-2 font-semibold text-neutral-100 transition-colors rounded-md dark:text-bold hover:bg-neutral-100 dark:hover:bg-neutral-100  hover:text-sky-700 dark:hover:text-sky-700"
          :class="{'bg-indigo-100 dark:bg-indigo-600': isActive || open}"
          role="button"
          aria-haspopup="true"
          :aria-expanded="(open || isActive) ? 'true' : 'false'"
          >Sign in</a>
          {% comment %} </button> {% endcomment %}
      {% endif %}
    </div>
      

      <!-- <button id="dropdownDefault" data-dropdown-toggle="dropdown" class="relative flex justify-end ml-auto items-center  focus:outline-none text-white rounded group">
        <p class="px-4 font-bold"></p>
        <span class=" px-2 p-2 hover:bg-blue-400 rounded">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
            <path fill-rule="evenodd" d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z" clip-rule="evenodd" ></path>
            </svg>
        </span>
        {% comment %} <div id="dropdown" class="z-10 w-max divide-y divide-gray-100 rounded bg-white shadow dark:bg-white" data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="bottom" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(327px, 70px, 0px);">
          <ul class="text-left border rounded">
            <li class="px-2 py-1 border-b">
              <a href="{% url 'Calculate Inventory Holding Cost' %}" class="block py-2 pl-3 pr-4 text-blue-500 font-bold rounded md:mr-6 hover:bg-transparent md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-blue-800 md:dark:hover:text-blue-500 dark:hover:bg-transparent dark:hover:text-blue-500 md:dark:hover:bg-transparent">Inventory Holding Cost</a>
            </li>
            <li class="px-2 py-1 border-b">
              <a href="{% url 'Calculate Firing and Hiring Cost' %}" class="block py-2 pl-3 pr-4 text-blue-500 font-bold rounded md:mr-6 hover:bg-transparent md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-blue-800 md:dark:hover:text-blue-500 dark:hover:bg-transparent dark:hover:text-blue-500 md:dark:hover:bg-transparent">Firing & Hiring Cost</a>
            </li>
            <li class="px-2 py-1 border-b">
              <a href="{% url 'Calculate Monthly Inventory Constraints'%}" class="block py-2 pl-3 pr-4 text-blue-500 font-bold rounded md:mr-6 hover:bg-transparent md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-blue-800 md:dark:hover:text-blue-500 dark:hover:bg-transparent dark:hover:text-blue-500 md:dark:hover:bg-transparent">Num. of Temp. Workers Monthly</a>
            </li>
            <li class="px-2 py-1 border-b">
              <a href="{% url 'Calculate Remaining Demand Monthly'%}" class="block py-2 pl-3 pr-4 text-blue-500 font-bold rounded md:mr-6 hover:bg-transparent md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-blue-800 md:dark:hover:text-blue-500 dark:hover:bg-transparent dark:hover:text-blue-500 md:dark:hover:bg-transparent">Remaining Demand Monthly</a>
            </li>
            <li class="px-2 py-1">
              <a href="{% url 'Calculate Monthly Inventory Constraints'%}" class="block py-2 pl-3 pr-4 text-blue-500 font-bold rounded md:mr-6 hover:bg-transparent md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-blue-800 md:dark:hover:text-blue-500 dark:hover:bg-transparent dark:hover:text-blue-500 md:dark:hover:bg-transparent">Monthly Inventory Constraints</a>
            </li>
          </ul>
          
        </div> {% endcomment %} -->
      </button>
    </div>

    <div class="absolute inset-x-0 bottom-0 h-16">
      <span class="block font-bold text-white sm:text-center text-sm">© 2022 M4C1 APPLICATION DEVELOPMENT
      </span></div>
  </aside>
</div> 

  {% block content %}
  {% endblock content %}

</body>
</html>