<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup</title>
</head>
<body>
  <form method="POST" >
    {% csrf_token %}
    <div class="mb-6">
      {% render_field form1.first_name  placeholder="First Name" %}
    </div>
    <div class="mb-6">
      {% render_field form1.last_name  placeholder="Last Name" %}
    </div>
    <div class="mb-6">
      {% render_field form1.username  placeholder="Username" %}
    </div>
    <div class="mb-6">
      {% render_field form1.email  placeholder="Email" %}
    </div>
    <div class="mb-6">
      {% render_field form1.password  placeholder="Password" %}
    </div>
    <div class="mb-6">
      {% render_field form2.mobile  placeholder="Mobile" %}
    </div>
    <div class="mb-6">
      {% render_field form2.address  placeholder="Address" %}
    </div>
    
    {% comment %} <div class="mb-6">
      <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your password</label>
      <input type="password" id="password" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required>
    </div>
    <div class="mb-6">
      <label for="repeat-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Repeat password</label>
      <input type="password" id="repeat-password" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required>
    </div> {% endcomment %}
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Register new account</button>
  </form>
</body>
</html>