{% extends 'main/navbar_footer.html' %}
{% block title %}Details{% endblock  %}
{% block content %}

<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
<script src="http://cdn.tailwindcss.com"></script>
<body class="min-h-screen  bg-slate-300" style="min-height: 400px; margin-bottom: 100px;">
      <div class='overflow-x-auto my-16 ml-60'>
            <table class="mx-auto max-w-4xl drop-shadow-lg font-[Poppins] rounded-lg border-none w-full overflow-hidden">
                  <thead class="text-white border-none bg-blue-700">
                        {% for x in detail %}
                        <tr class="text-white text-center border-none">
                              <th class="font-semibold text-sm uppercase px-6 py-4 bg-blue-700 text-center border-none" colspan="9">{{x.planName}}</th>
                        </tr> 
                        {% endfor %}
                  </thead>
                  <thead class="bg-white text-black border-none">
                        <tr class="text-black text-center border-none">
                              <th class="font-semibold text-sm uppercase px-6 py-4 text-center border-none">Month</th>
                              <th class="font-semibold text-sm uppercase px-6 py-4 text-center border-none">Remaining Demand</th>
                              <th class="font-semibold text-sm uppercase px-6 py-4 text-center border-none">Ending Inventory Unit(s)</th>
                              <th class="font-semibold text-sm uppercase px-6 py-4 text-center border-none">Number of Temporary Worker Hired</th>
                              <th class="font-semibold text-sm uppercase px-6 py-4 text-center border-none">Number of Temporary Worker Fired</th>
                              <th class="font-semibold text-sm uppercase px-6 py-4 text-center border-none">Number of Temporary Worker(s)</th>
                              <th class="font-semibold text-sm uppercase px-6 py-4 text-center border-none">Hiring Cost</th>
                              <th class="font-semibold text-sm uppercase px-6 py-4 text-center border-none">Firing Cost</th>
                              <th class="font-semibold text-sm uppercase px-6 py-4 text-center border-none">Inventory Holding Cost</th>
                        </tr> 
                  </thead> 
                  <tbody class="bg-white text-gray-900 text-center border-none">
                        <tr class="border-none">
                              <th class="font-semibold text-sm uppercase px-6 py-4 text-center border-none text-black">Month 1</th>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ rd1 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ei1 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntwH1 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntwF1 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntw1 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ hC1 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ fC1 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ ihc1 }}</td>
                        </tr>
                        <tr class=" bg-white border-none">
                              <th class="font-semibold text-sm uppercase px-6 py-4 text-center border-none text-black">Month 2</th>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ rd2 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ei2 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntwH2 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntwF2 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntw2 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ hC2 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ fC2 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ ihc2 }}</td>
                        </tr>
                        <tr class=" bg-white border-none">
                              <th class="font-semibold text-sm uppercase px-6 py-4 text-center border-none text-black">Month 3</th>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ rd3 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ei3 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntwH3 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntwF3 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntw3 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ hC3 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ fC3 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ ihc3 }}</td>
                        </tr>
                        <tr class=" bg-white border-none">
                              <th class="font-semibold text-sm uppercase px-6 py-4 text-center border-none text-black">Month 4</th>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ rd4 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ei4 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntwH4 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntwF4 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntw4 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ hC4 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ fC4 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ ihc4 }}</td>
                        </tr>
                        <tr class=" bg-white border-none">
                              <th class="font-semibold text-sm uppercase px-6 py-4 text-center border-none text-black">Month 5</th>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ rd5 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ei5 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntwH5 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntwF5 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntw5 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ hC5 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ fC5 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ ihc5 }}</td>
                        </tr>
                        <tr class=" bg-white border-none">
                              <th class="font-semibold text-sm uppercase px-6 py-4 text-center border-none text-black">Month 6</th>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ rd6 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ei6 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntwH6 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntwF6 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntw6 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ hC6 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ fC6 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ ihc6 }}</td>
                        </tr>
                        <tr class=" bg-white border-none">
                              <th class="font-semibold text-sm uppercase px-6 py-4 text-center border-none text-black">Month 7</th>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ rd7 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ei7 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntwH7 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntwF7 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntw7 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ hC7 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ fC7 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ ihc7 }}</td>
                        </tr>
                        <tr class=" bg-white border-none">
                              <th class="font-semibold text-sm uppercase px-6 py-4 text-center border-none text-black">Month 8</th>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ rd8 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ei8 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntwH8 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntwF8 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntw8 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ hC8 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ fC8 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ ihc8 }}</td>
                        </tr>
                        <tr class=" bg-white border-none">
                              <th class="font-semibold text-sm uppercase px-6 py-4 text-center border-none text-black">Month 9</th>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ rd9 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ei9 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntwH9 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntwF9 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntw9 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ hC9 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ fC9 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ ihc9 }}</td>
                        </tr>
                        <tr class=" bg-white border-none">
                              <th class="font-semibold text-sm uppercase px-6 py-4 text-center border-none text-black">Month 10</th>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ rd10 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ei10 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntwH10 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntwF10 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntw10 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ hC10 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ fC10 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ ihc10 }}</td>
                        </tr>
                        <tr class=" bg-white border-none">
                              <th class="font-semibold text-sm uppercase px-6 py-4 text-center border-none text-black">Month 11</th>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ rd11 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ei11 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntwH11 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntwF11 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntw11 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ hC11 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ fC11 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ ihc11 }}</td>
                        </tr>
                        <tr class=" bg-white border-none">
                              <th class="font-semibold text-sm uppercase px-6 py-4 text-center border-none text-black">Month 12</th>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ rd12 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ei12 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntwH12 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntwF12 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">{{ ntw12 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ hC12 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ fC12 }}</td>
                              <td class="whitespace-nowrap text-sm font-medium border-none">RM{{ ihc12 }}</td>
                        </tr>
                        <tr class=" bg-white border-none">
                              <th class="font-semibold text-sm uppercase px-6 py-4 text-center border-none text-black" colspan="6">Total Individual Costs</th>
                              <td class="whitespace-nowrap text-sm font-medium text-center border-none">RM{{ thC }}</td>
                              <td class="whitespace-nowrap text-sm font-medium text-center border-none">RM{{ tfC }}</td>
                              <td class="whitespace-nowrap text-sm font-medium text-center border-none">RM{{ tihC }}</td>
                        </tr>
                        {% for x in detail %}
                        <tr class="bg-blue-700 text-white font-bold border-none">
                              <th class="font-semibold text-sm uppercase px-6 py-4  text-center border-none " colspan="6">Optimized Final Cost for Multi-Period Planning</th>
                              <td class="whitespace-nowrap font-bold border-none" colspan="3">RM{{ x.optimalCost }}</td>
                        </tr>
                        {% endfor %}
                  </tbody>
            </table>
      </div>
</body>
{% endblock  %} 